In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sandeep\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sandeep\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sandeep\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sandeep\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sandeep\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

# Feature Engineering

* The process of using domain knowledge of the data to create features that make machine learning algorithms work is feature engineering. If feature engineering is performed correctly, by building features from raw data that help accelerate the machine learning process, it improves the predictive ability of machine learning algorithms.

* In other words, Feature engineering or Data Preprocessing is the process of transforming raw data into features that better represent the underlying problem to the predictive models, resulting in improved model accuracy on unseen data.

* Data in real world is dirty
- Incomplete
- Noisy
- Inconsistent
- Duplicate

* Data Quality Elements
- Accuracy
- Completeness
- Consistency
- Believability
- Interpretability

* Machine learning algorithm follow the rule
- GIGO = Garbage In Garbage Out

Data Cleaning
Data Integration
Data Reduction
Data Transformation
Data Discretization

Data Cleaning - means fill in missing values, smooth out noise while identifying outliers, and correct inconsistencies in the data.

Data Integration - is a technique to merges data from multiple sources into a coherent data store, such as a data warehouse.

Data Reduction - is a technique use to reduce the data size by aggregating, eliminating redundant features, or clustering, for instance.

Data Transformation - means data are transformed or consolidated into forms appropriate for ML model training, such as normalization, may be applied where data are scaled to fall within a smaller range like 0.0 to 1.0.

Data Discretization - technique transforms numeric data by mapping values to interval or concept labels.

It can be used to reduce the number of values for a given continuous attribute by dividing the range of the attribute into intervals.

# 1) Feature Encoding

* It is the process of transforming a categorical variable into a continuous variable and using them in the model.

* Machine Understand Numbers,Not Text. We Need to Convert each Text Category to Numbers in Order for The Machine to Process them using Mathematical Equations.

* To Convert Categorical Columns to Numerical Columns so that a Machine Learning Algorithm Understand it. This Process is Called Categorical Encoding.

## (i) Ordinal data :-

* The data associated with an explicit order is known as Ordinal Data. Ordinal data is also a type of categorical data and has a   particular definitive order.

* Calculations such as the distribution of frequency, total calculation percentage and other non-parametric ordinal data
statistics. However, for this type of data, mean calculation, standard calculation of deviation and other parametric tests of statistics make no sense.

* Generally used Techniques- Label encoding, Ordinal Encoding

## Ordinal Encoding

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [ ]:
df['review'].unique()

In [ ]:
df['education'].unique()

In [ ]:
df['purchased'].unique()

In [ ]:
df['gender'].unique()

In [ ]:
df['review'] = df['review'].map({'Average':1, 'Poor':0, 'Good':2})

In [ ]:
df['education'] = df['education'].map({'School':0, 'UG':1, 'PG':2})

In [ ]:
df['purchased'] = df['purchased'].map({'No':0, 'Yes':1})

In [ ]:
df['gender'] = df['gender'].map({'Female':0, 'Male':1})

In [ ]:
df

In [6]:
df = pd.read_csv(r"customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

In [ ]:
encoded = oe.fit_transform(df[['gender','review','education','purchased']])
encoded

In [ ]:
encoded_data = pd.DataFrame(encoded,columns=['gender','review','education','purchased'])
encoded_data

In [ ]:
df.drop(columns=['gender','review','education','purchased'],inplace=True)

In [ ]:
df = df.join(encoded_data)
df

## Label Encoding

In [7]:
df = pd.read_csv(r"customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
lable_df = le.fit_transform(df['review'])
lable_df

In [ ]:
df['Review_Lable'] = lable_df
df

In [ ]:
df[['education','gender','purchased']] = df[['education','gender','purchased']].apply(le.fit_transform)
df

In [ ]:
inverce = le.inverse_transform(df['purchased'])
inverce

In [ ]:
le.inverse_transform([1])

In [ ]:
le.inverse_transform([[0],[1]])