In [1]:
import pandas as pd
import numpy as np
import matplotlib_inline as plt
import sklearn 
import pickle
import warnings

In [4]:
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\Feature Engineering\1) Feature Encoding\customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [6]:
df['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [8]:
df['education'].unique

<bound method Series.unique of 0     School
1         UG
2         PG
3         PG
4         UG
5     School
6     School
7     School
8         UG
9         UG
10        UG
11        UG
12    School
13    School
14        PG
15        UG
16        UG
17        UG
18    School
19        PG
20    School
21        PG
22        PG
23    School
24        PG
25    School
26        PG
27        PG
28    School
29        UG
30        UG
31    School
32        UG
33        PG
34    School
35    School
36        UG
37        PG
38    School
39        PG
40    School
41        PG
42        PG
43        PG
44        UG
45        PG
46        PG
47        PG
48        UG
49        UG
Name: education, dtype: object>

In [10]:
df['purchased'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
df['gender'].unique

<bound method Series.unique of 0     Female
1     Female
2     Female
3     Female
4     Female
5     Female
6       Male
7     Female
8     Female
9       Male
10    Female
11      Male
12      Male
13    Female
14      Male
15      Male
16      Male
17    Female
18      Male
19      Male
20    Female
21      Male
22    Female
23    Female
24    Female
25    Female
26    Female
27    Female
28      Male
29    Female
30      Male
31    Female
32      Male
33    Female
34      Male
35      Male
36    Female
37      Male
38    Female
39      Male
40      Male
41      Male
42    Female
43      Male
44    Female
45      Male
46    Female
47    Female
48    Female
49    Female
Name: gender, dtype: object>

In [14]:
df['review'] = df['review'].map({'Average': 1, 'Poor': 0, 'Good' : 2})
df['education'] = df['education'].map({'School':0, 'UG':1, 'PG':2})
df['purchased'] = df['purchased'].map({'No':0, 'Yes':1})
df['gender'] = df['gender'].map({'Female':0, 'Male':1})
df

    age  gender  review  education  purchased
0    30       0     NaN          0          0
1    68       0     NaN          1          0
2    70       0     NaN          2          0
3    72       0     NaN          2          0
4    16       0     NaN          1          0
5    31       0     NaN          0          1
6    18       1     NaN          0          0
7    60       0     NaN          0          1
8    65       0     NaN          1          0
9    74       1     NaN          1          1
10   98       0     NaN          1          1
11   74       1     NaN          1          1
12   51       1     NaN          0          0
13   57       0     NaN          0          0
14   15       1     NaN          2          1
15   75       1     NaN          1          0
16   59       1     NaN          1          1
17   22       0     NaN          1          1
18   19       1     NaN          0          0
19   97       1     NaN          2          1
20   57       0     NaN          0          1
21   32       1     NaN          2          0
22   18       0     NaN          2          1
23   96       0     NaN          0          0
24   16       0     NaN          2          1
25   57       0     NaN          0          0
26   53       0     NaN          2          0
27   69       0     NaN          2          0
28   48       1     NaN          0          0
29   83       0     NaN          1          1
30   73       1     NaN          1          0
31   22       0     NaN          0          1
32   92       1     NaN          1          1
33   89       0     NaN          2          1
34   86       1     NaN          0          0
35   74       1     NaN          0          1
36   34       0     NaN          1          1
37   94       1     NaN          2          1
38   45       0     NaN          0          0
39   76       1     NaN          2          0
40   39       1     NaN          0          0
41   23       1     NaN          2          1
42   30       0     NaN          2          1
43   27       1     NaN          2          0
44   77       0     NaN          1          0
45   61       1     NaN          2          1
46   64       0     NaN          2          0
47   38       0     NaN          2          1
48   39       0     NaN          1          1
49   25       0     NaN          1          0

In [17]:
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\Feature Engineering\1) Feature Encoding\customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [23]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

In [24]:
encoded = oe.fit_transform(df[['gender','review','education','purchased']])
encoded

array([[0., 0., 1., 0.],
       [0., 2., 2., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 2., 0.],
       [0., 0., 1., 1.],
       [1., 1., 1., 0.],
       [0., 2., 1., 1.],
       [0., 0., 2., 0.],
       [1., 1., 2., 1.],
       [0., 1., 2., 1.],
       [1., 1., 2., 1.],
       [1., 2., 1., 0.],
       [0., 0., 1., 0.],
       [1., 2., 0., 1.],
       [1., 2., 2., 0.],
       [1., 2., 2., 1.],
       [0., 2., 2., 1.],
       [1., 1., 1., 0.],
       [1., 2., 0., 1.],
       [0., 0., 1., 1.],
       [1., 0., 0., 0.],
       [0., 2., 0., 1.],
       [0., 1., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 1., 0.],
       [0., 2., 0., 0.],
       [0., 2., 0., 0.],
       [1., 2., 1., 0.],
       [0., 0., 2., 1.],
       [1., 0., 2., 0.],
       [0., 2., 1., 1.],
       [1., 0., 2., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 2., 1., 1.],
       [0., 1., 2., 1.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [1., 2., 0., 0.],
       [1., 1., 1., 0.],
       [1., 1., 0., 1.],
       [0., 1., 0., 1.],
       [1., 2., 0., 0.],
       [0., 0., 2., 0.],
       [1., 2., 0., 1.],
       [0., 2., 0., 0.],
       [0., 1., 0., 1.],
       [0., 1., 2., 1.],
       [0., 1., 2., 0.]])

In [26]:
encoded_data = pd.DataFrame(encoded,columns=['gender','review','education','purchased'])
encoded_data

    gender  review  education  purchased
0      0.0     0.0        1.0        0.0
1      0.0     2.0        2.0        0.0
2      0.0     1.0        0.0        0.0
3      0.0     1.0        0.0        0.0
4      0.0     0.0        2.0        0.0
5      0.0     0.0        1.0        1.0
6      1.0     1.0        1.0        0.0
7      0.0     2.0        1.0        1.0
8      0.0     0.0        2.0        0.0
9      1.0     1.0        2.0        1.0
10     0.0     1.0        2.0        1.0
11     1.0     1.0        2.0        1.0
12     1.0     2.0        1.0        0.0
13     0.0     0.0        1.0        0.0
14     1.0     2.0        0.0        1.0
15     1.0     2.0        2.0        0.0
16     1.0     2.0        2.0        1.0
17     0.0     2.0        2.0        1.0
18     1.0     1.0        1.0        0.0
19     1.0     2.0        0.0        1.0
20     0.0     0.0        1.0        1.0
21     1.0     0.0        0.0        0.0
22     0.0     2.0        0.0        1.0
23     0.0     1.0        1.0        0.0
24     0.0     0.0        0.0        1.0
25     0.0     1.0        1.0        0.0
26     0.0     2.0        0.0        0.0
27     0.0     2.0        0.0        0.0
28     1.0     2.0        1.0        0.0
29     0.0     0.0        2.0        1.0
30     1.0     0.0        2.0        0.0
31     0.0     2.0        1.0        1.0
32     1.0     0.0        2.0        1.0
33     0.0     1.0        0.0        1.0
34     1.0     0.0        1.0        0.0
35     1.0     2.0        1.0        1.0
36     0.0     1.0        2.0        1.0
37     1.0     0.0        0.0        1.0
38     0.0     1.0        1.0        0.0
39     1.0     2.0        0.0        0.0
40     1.0     1.0        1.0        0.0
41     1.0     1.0        0.0        1.0
42     0.0     1.0        0.0        1.0
43     1.0     2.0        0.0        0.0
44     0.0     0.0        2.0        0.0
45     1.0     2.0        0.0        1.0
46     0.0     2.0        0.0        0.0
47     0.0     1.0        0.0        1.0
48     0.0     1.0        2.0        1.0
49     0.0     1.0        2.0        0.0

In [30]:
df.drop(columns=['gender','review','education','purchased'],inplace=True)

In [31]:
df = df.join(encoded_data)
df

    age  gender  review  education  purchased
0    30     0.0     0.0        1.0        0.0
1    68     0.0     2.0        2.0        0.0
2    70     0.0     1.0        0.0        0.0
3    72     0.0     1.0        0.0        0.0
4    16     0.0     0.0        2.0        0.0
5    31     0.0     0.0        1.0        1.0
6    18     1.0     1.0        1.0        0.0
7    60     0.0     2.0        1.0        1.0
8    65     0.0     0.0        2.0        0.0
9    74     1.0     1.0        2.0        1.0
10   98     0.0     1.0        2.0        1.0
11   74     1.0     1.0        2.0        1.0
12   51     1.0     2.0        1.0        0.0
13   57     0.0     0.0        1.0        0.0
14   15     1.0     2.0        0.0        1.0
15   75     1.0     2.0        2.0        0.0
16   59     1.0     2.0        2.0        1.0
17   22     0.0     2.0        2.0        1.0
18   19     1.0     1.0        1.0        0.0
19   97     1.0     2.0        0.0        1.0
20   57     0.0     0.0        1.0        1.0
21   32     1.0     0.0        0.0        0.0
22   18     0.0     2.0        0.0        1.0
23   96     0.0     1.0        1.0        0.0
24   16     0.0     0.0        0.0        1.0
25   57     0.0     1.0        1.0        0.0
26   53     0.0     2.0        0.0        0.0
27   69     0.0     2.0        0.0        0.0
28   48     1.0     2.0        1.0        0.0
29   83     0.0     0.0        2.0        1.0
30   73     1.0     0.0        2.0        0.0
31   22     0.0     2.0        1.0        1.0
32   92     1.0     0.0        2.0        1.0
33   89     0.0     1.0        0.0        1.0
34   86     1.0     0.0        1.0        0.0
35   74     1.0     2.0        1.0        1.0
36   34     0.0     1.0        2.0        1.0
37   94     1.0     0.0        0.0        1.0
38   45     0.0     1.0        1.0        0.0
39   76     1.0     2.0        0.0        0.0
40   39     1.0     1.0        1.0        0.0
41   23     1.0     1.0        0.0        1.0
42   30     0.0     1.0        0.0        1.0
43   27     1.0     2.0        0.0        0.0
44   77     0.0     0.0        2.0        0.0
45   61     1.0     2.0        0.0        1.0
46   64     0.0     2.0        0.0        0.0
47   38     0.0     1.0        0.0        1.0
48   39     0.0     1.0        2.0        1.0
49   25     0.0     1.0        2.0        0.0

In [34]:
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\Feature Engineering\1) Feature Encoding\customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [38]:
lable_df = le.fit_transform(df['review'])
lable_df

array([0, 2, 1, 1, 0, 0, 1, 2, 0, 1, 1, 1, 2, 0, 2, 2, 2, 2, 1, 2, 0, 0,
       2, 1, 0, 1, 2, 2, 2, 0, 0, 2, 0, 1, 0, 2, 1, 0, 1, 2, 1, 1, 1, 2,
       0, 2, 2, 1, 1, 1])

In [40]:
df['Review_Lable'] = lable_df
df

    age  gender   review education purchased  Review_Lable
0    30  Female  Average    School        No             0
1    68  Female     Poor        UG        No             2
2    70  Female     Good        PG        No             1
3    72  Female     Good        PG        No             1
4    16  Female  Average        UG        No             0
5    31  Female  Average    School       Yes             0
6    18    Male     Good    School        No             1
7    60  Female     Poor    School       Yes             2
8    65  Female  Average        UG        No             0
9    74    Male     Good        UG       Yes             1
10   98  Female     Good        UG       Yes             1
11   74    Male     Good        UG       Yes             1
12   51    Male     Poor    School        No             2
13   57  Female  Average    School        No             0
14   15    Male     Poor        PG       Yes             2
15   75    Male     Poor        UG        No             2
16   59    Male     Poor        UG       Yes             2
17   22  Female     Poor        UG       Yes             2
18   19    Male     Good    School        No             1
19   97    Male     Poor        PG       Yes             2
20   57  Female  Average    School       Yes             0
21   32    Male  Average        PG        No             0
22   18  Female     Poor        PG       Yes             2
23   96  Female     Good    School        No             1
24   16  Female  Average        PG       Yes             0
25   57  Female     Good    School        No             1
26   53  Female     Poor        PG        No             2
27   69  Female     Poor        PG        No             2
28   48    Male     Poor    School        No             2
29   83  Female  Average        UG       Yes             0
30   73    Male  Average        UG        No             0
31   22  Female     Poor    School       Yes             2
32   92    Male  Average        UG       Yes             0
33   89  Female     Good        PG       Yes             1
34   86    Male  Average    School        No             0
35   74    Male     Poor    School       Yes             2
36   34  Female     Good        UG       Yes             1
37   94    Male  Average        PG       Yes             0
38   45  Female     Good    School        No             1
39   76    Male     Poor        PG        No             2
40   39    Male     Good    School        No             1
41   23    Male     Good        PG       Yes             1
42   30  Female     Good        PG       Yes             1
43   27    Male     Poor        PG        No             2
44   77  Female  Average        UG        No             0
45   61    Male     Poor        PG       Yes             2
46   64  Female     Poor        PG        No             2
47   38  Female     Good        PG       Yes             1
48   39  Female     Good        UG       Yes             1
49   25  Female     Good        UG        No             1

In [41]:
df[['education','gender','purchased']] = df[['education','gender','purchased']].apply(le.fit_transform)
df

    age  gender   review  education  purchased  Review_Lable
0    30       0  Average          1          0             0
1    68       0     Poor          2          0             2
2    70       0     Good          0          0             1
3    72       0     Good          0          0             1
4    16       0  Average          2          0             0
5    31       0  Average          1          1             0
6    18       1     Good          1          0             1
7    60       0     Poor          1          1             2
8    65       0  Average          2          0             0
9    74       1     Good          2          1             1
10   98       0     Good          2          1             1
11   74       1     Good          2          1             1
12   51       1     Poor          1          0             2
13   57       0  Average          1          0             0
14   15       1     Poor          0          1             2
15   75       1     Poor          2          0             2
16   59       1     Poor          2          1             2
17   22       0     Poor          2          1             2
18   19       1     Good          1          0             1
19   97       1     Poor          0          1             2
20   57       0  Average          1          1             0
21   32       1  Average          0          0             0
22   18       0     Poor          0          1             2
23   96       0     Good          1          0             1
24   16       0  Average          0          1             0
25   57       0     Good          1          0             1
26   53       0     Poor          0          0             2
27   69       0     Poor          0          0             2
28   48       1     Poor          1          0             2
29   83       0  Average          2          1             0
30   73       1  Average          2          0             0
31   22       0     Poor          1          1             2
32   92       1  Average          2          1             0
33   89       0     Good          0          1             1
34   86       1  Average          1          0             0
35   74       1     Poor          1          1             2
36   34       0     Good          2          1             1
37   94       1  Average          0          1             0
38   45       0     Good          1          0             1
39   76       1     Poor          0          0             2
40   39       1     Good          1          0             1
41   23       1     Good          0          1             1
42   30       0     Good          0          1             1
43   27       1     Poor          0          0             2
44   77       0  Average          2          0             0
45   61       1     Poor          0          1             2
46   64       0     Poor          0          0             2
47   38       0     Good          0          1             1
48   39       0     Good          2          1             1
49   25       0     Good          2          0             1

In [45]:
inverse = le.inverse_transform(df['purchased'])
inverse

array(['No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes',
       'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No',
       'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No'],
      dtype=object)

In [47]:
le.inverse_transform([1])

array(['Yes'], dtype=object)

In [48]:
le.inverse_transform([[0],[1]])

c:\Users\sonik\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\preprocessing\_label.py:151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['No', 'Yes'], dtype=object)