In [34]:
import pandas as pd
import numpy as np
import matplotlib_inline as plt
import sklearn 
import pickle
import warnings

In [50]:
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\Feature Engineering\1) Feature Encoding\cars.csv")
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [36]:
pd.get_dummies(df, columns=['fuel', 'owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [37]:
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\Feature Engineering\1) Feature Encoding\cars.csv")
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [38]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)

In [39]:
column = df[['fuel','owner']]
column

        fuel                 owner
0     Diesel           First Owner
1     Diesel          Second Owner
2     Petrol           Third Owner
3     Diesel           First Owner
4     Petrol           First Owner
...      ...                   ...
8123  Petrol           First Owner
8124  Diesel  Fourth & Above Owner
8125  Diesel           First Owner
8126  Diesel           First Owner
8127  Diesel           First Owner

[8128 rows x 2 columns]

In [40]:
car = ohe.fit_transform(column)
car

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], shape=(8128, 9))

In [43]:
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\Feature Engineering\1) Feature Encoding\customer.csv")
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [45]:
pd.get_dummies(df,columns=['education','review'])

,age,gender,purchased,education_PG,education_School,education_UG,review_Average,review_Good,review_Poor
0,30,Female,No,False,True,False,True,False,False
1,68,Female,No,False,False,True,False,False,True
2,70,Female,No,True,False,False,False,True,False
3,72,Female,No,True,False,False,False,True,False
4,16,Female,No,False,False,True,True,False,False
5,31,Female,Yes,False,True,False,True,False,False
6,18,Male,No,False,True,False,False,True,False
7,60,Female,Yes,False,True,False,False,False,True
8,65,Female,No,False,False,True,True,False,False
9,74,Male,Yes,False,False,True,False,True,False
10,98,Female,Yes,False,False,True,False,True,False
11,74,Male,Yes,False,False,True,False,True,False
12,51,Male,No,False,True,False,False,False,True
13,57,Female,No,False,True,False,True,False,False
14,15,Male,Yes,True,False,False,False,False,True
15,75,Male,No,False,False,True,False,False,True
16,59,Male,Yes,False,False,True,False,False,True
17,22,Female,Yes,False,False,True,False,False,True
18,19,Male,No,False,True,False,False,True,False
19,97,Male,Yes,True,False,False,False,False,True
20,57,Female,Yes,False,True,False,True,False,False
21,32,Male,No,True,False,False,True,False,False
22,18,Female,Yes,True,False,False,False,False,True
23,96,Female,No,False,True,False,False,True,False
24,16,Female,Yes,True,False,False,True,False,False
25,57,Female,No,False,True,False,False,True,False
26,53,Female,No,True,False,False,False,False,True
27,69,Female,No,True,False,False,False,False,True
28,48,Male,No,False,True,False,False,False,True
29,83,Female,Yes,False,False,True,True,False,False
30,73,Male,No,False,False,True,True,False,False
31,22,Female,Yes,False,True,False,False,False,True
32,92,Male,Yes,False,False,True,True,False,False
33,89,Female,Yes,True,False,False,False,True,False
34,86,Male,No,False,True,False,True,False,False
35,74,Male,Yes,False,True,False,False,False,True
36,34,Female,Yes,False,False,True,False,True,False
37,94,Male,Yes,True,False,False,True,False,False
38,45,Female,No,False,True,False,False,True,False
39,76,Male,No,True,False,False,False,False,True
40,39,Male,No,False,True,False,False,True,False
41,23,Male,Yes,True,False,False,False,True,False
42,30,Female,Yes,True,False,False,False,True,False
43,27,Male,No,True,False,False,False,False,True
44,77,Female,No,False,False,True,True,False,False
45,61,Male,Yes,True,False,False,False,False,True
46,64,Female,No,True,False,False,False,False,True
47,38,Female,Yes,True,False,False,False,True,False
48,39,Female,Yes,False,False,True,False,True,False
49,25,Female,No,False,False,True,False,True,False

In [47]:
column = df[['education']]
column

   education
0     School
1         UG
2         PG
3         PG
4         UG
5     School
6     School
7     School
8         UG
9         UG
10        UG
11        UG
12    School
13    School
14        PG
15        UG
16        UG
17        UG
18    School
19        PG
20    School
21        PG
22        PG
23    School
24        PG
25    School
26        PG
27        PG
28    School
29        UG
30        UG
31    School
32        UG
33        PG
34    School
35    School
36        UG
37        PG
38    School
39        PG
40    School
41        PG
42        PG
43        PG
44        UG
45        PG
46        PG
47        PG
48        UG
49        UG

In [49]:
df = ohe.fit_transform(column)
df

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])