In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Helly\Desktop\coding\Helly Intern (ML)\7) Machine Learning\2) Classification\1) Logistic Regression\Practical Codes\Social_Network_Ads.csv")
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [5]:
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [6]:
X = pd.DataFrame(X,columns=['Age', 'EstimatedSalary'])
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [7]:
from sklearn.preprocessing import RobustScaler
rb = RobustScaler()
X = rb.fit_transform(X)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

# simple linear regression

In [9]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [10]:
y_pred_lr = lr.predict(X_test)

# multipal linear regression

In [11]:
from sklearn.linear_model import LinearRegression
ml = LinearRegression()
ml.fit(X_train,y_train)

LinearRegression()

In [12]:
y_pred_ml = ml.predict(X_test)

# polynomial regression

In [13]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

In [14]:
from sklearn.linear_model import LinearRegression
pr = LinearRegression()
pr.fit(X_train_poly,y_train)

LinearRegression()

In [15]:
y_pred_pr = pr.predict(X_test_poly)

# Decission tree

In [16]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)

DecisionTreeRegressor()

In [17]:
y_pred_dt = dt.predict(X_test)

# random forest

In [18]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)

RandomForestRegressor()

In [19]:
y_pred_rf = rf.predict(X_test)

# K nearest neighbour

In [40]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=6)
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=6)

In [41]:
y_pred_knn = knn.predict(X_test)

# evalution

In [42]:
from sklearn.metrics import r2_score

In [43]:
lr = r2_score(y_test,y_pred_lr)
ml = r2_score(y_test,y_pred_ml)
pr = r2_score(y_test,y_pred_pr)
dt = r2_score(y_test,y_pred_dt)
rf = r2_score(y_test,y_pred_rf)
knn = r2_score(y_test,y_pred_knn)

print('simple linear :',lr)
print('miltipal linear :',ml)
print('polynomial :',pr)
print('decision tree :',dt)
print('random forest :',rf)
print('k nearest neighbour :',knn)

simple linear : 0.5973283861259658
miltipal linear : 0.5973283861259658
polynomial : 0.6856509956469068
decision tree : 0.420062695924765
random forest : 0.7474691309648207
k nearest neighbour : 0.8188784395680948