In [73]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import pickle
import warnings

In [74]:
df = pd.read_csv(r'C:\Users\sonik\Desktop\Sample .CSV Data Files\cars.csv')
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [75]:
df.isnull().sum()

brand            0
km_driven        0
fuel             0
owner            0
selling_price    0
dtype: int64

In [76]:
df['brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [77]:
x = df.drop(columns='selling_price')
x = df.drop(columns='fuel')
x = df.drop(columns='owner')
y = df['selling_price']
x.head()
y.head()

0    450000
1    370000
2    158000
3    225000
4    130000
Name: selling_price, dtype: int64

In [78]:
x = pd.get_dummies(data = x, columns = ['brand'], drop_first = "true")
x.head()

,km_driven,fuel,selling_price,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,...,brand_Mitsubishi,brand_Nissan,brand_Opel,brand_Peugeot,brand_Renault,brand_Skoda,brand_Tata,brand_Toyota,brand_Volkswagen,brand_Volvo
0,145500,Diesel,450000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,120000,Diesel,370000,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,140000,Petrol,158000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,127000,Diesel,225000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,120000,Petrol,130000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [79]:
from sklearn.model_selection import train_test_split
x_test, x_train, y_test, y_train = train_test_split(x,y, test_size=0.2, random_state = 42)

In [80]:
x_test

,km_driven,fuel,selling_price,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,...,brand_Mitsubishi,brand_Nissan,brand_Opel,brand_Peugeot,brand_Renault,brand_Skoda,brand_Tata,brand_Toyota,brand_Volkswagen,brand_Volvo
6518,2560,Petrol,520000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
6144,80000,Petrol,300000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6381,150000,Diesel,380000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
438,120000,Diesel,530000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5939,25000,Petrol,335000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5226,120000,Diesel,475000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5390,80000,Diesel,530000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
860,35000,Petrol,576000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7603,27000,Diesel,770000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7270,70000,Petrol,155000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [81]:
y_test

6518    520000
6144    300000
6381    380000
438     530000
5939    335000
         ...
5226    475000
5390    530000
860     576000
7603    770000
7270    155000
Name: selling_price, Length: 6502, dtype: int64

In [82]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators= 100, random_state=42)

In [83]:
model.fit(x_train, y_train)

ValueError: could not convert string to float: 'Petrol'