In [1]:
import pandas as pd
import numpy as np
import matplotlib_inline as plt
import sklearn 
import pickle
import warnings
df = pd.read_csv(r"C:\Users\sonik\Desktop\python lerning\ML\1) Regression\5) Random Forest Regression\Practical Codes\50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [3]:
df['State'].unique()
X= df.drop(columns='Profit')
y= df['Profit']
X = pd.get_dummies(data=X,columns=['State'],drop_first=True)
X.head()
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [4]:
X_test

    R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
28   66051.52       182645.56        118148.20           True           False
11  100671.96        91790.61        249744.55          False           False
10  101913.08       110594.11        229160.95           True           False
41   27892.92        84710.77        164470.71           True           False
2   153441.51       101145.55        407934.54           True           False
27   72107.60       127864.55        353183.81          False            True
38   20229.59        65947.93        185265.10          False            True
31   61136.38       152701.92         88218.23          False            True
22   73994.56       122782.75        303319.26           True           False
4   142107.34        91391.77        366168.42           True           False

In [5]:
y_test

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [6]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=1)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
y_pred

array([101004.64, 129917.04, 141585.52,  81005.76, 182901.99, 108733.99,
        81005.76, 101004.64, 118474.03, 156991.12])

In [7]:
train_acc = knn.predict(X_train)
knn.predict([[165349.20,136897.80,471784.10,0,1]])

c:\Users\sonik\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([192261.83])

In [8]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9620745980769433